#login
{    
	width: 30em;
	margin: 5em auto;
	padding: 75px 1em 1em 1em;
	background-color: White;
	background-image: url("/images/logo.png");
	background-repeat: no-repeat;
	background-position: center 1em;
	border: solid thin #868686;
}

#login p
{
	margin: 0.5em;
}

#login td
{
	padding: 0.2em;
}

#login button
{
	margin-left: 2px;
	margin-right: 2px;
	padding: 5px 15px 5px 15px;
}

input
{
	font-family: inherit;
	border: 1px;
	border-style: solid;
	border-color: #c9c9c9;
	border-width: thin;
	border-radius: 0;
}
