.applyButton
{
	margin-left:5px;
	color: red;
	font-weight: bold;
}

.filteroptions
{
  float:left;
}

.DeliveryType
{
	width:180px;
}
.PumpList
{
	width:180px;
}
.GradeList
{
	width:180px;
}

#DayOfWeek
{
	margin: 1px 5px 1px 5px;
	float: left;
	font-weight: normal;
	padding: 1px 10px 1px 10px;
	outline: black solid 1px;
	width: 120px;
}

.Date
{
	font-weight: normal;
	float: left;
	margin: 1px 5px 1px 0px;
	padding: 1px 10px 1px 10px;
	outline: black solid 1px;
	width: 90px;
}

.DateError
{
	font-weight:normal;
	float:left;
	margin-right:5px;
	padding: 2px 10px 2px 10px;
	outline: red solid 1px;
	color: red;
	width:90px;
}

#navigation
{
	text-align:center;
}

#FilterPrint
{
	display:none;
}

	
.Device
{
	width:32%;
	text-align:center;
	float:left;
	margin-right:5px;
}

.DeviceType
{
	width:100%;
}

#EventLabels
{
	margin-top:5px;
	text-align:right;
}

.Event
{
	text-align:center;
	width:32%;
	float:left;
	margin-right:5px;
}

.DeviceFilters
{
	width:100%;
	
}

.Select
{
	margin-bottom:10px;
	width:100%;
}

.DeviceSelection
{
	text-align:center;
	width:32%;
	float:left;
}

.Spacer
{
	height:1.6em;
}

.OuterFilter
{
	width:100%;
	float:left;
	margin-bottom:8px;
}


.FilterSettings
{
	margin-bottom:5px;
	width:100%;
}

.Level
{
	margin-left:42px;
}

.Label
{
	height:1em;
	margin-bottom: 14px;
}

.TitleLabel
{
	font-weight:bold;
	margin-bottom:5px;
}

.Icon
{
	background-color:white;
	text-align:center;
	vertical-align:middle;
}

#sortRadioBtns
{
	margin-right:5px;
	margin-bottom:8px;
	width:100%;
}

.DatePick
{
	float:left;
	margin-right:8px;
	width:90px;
}

#FinishDate
{
	float:left;
}

#StartDate
{
	float:left;
}

#DateSelect
{
	float:left;
	font-weight:bold;
	width:100%;
	margin-bottom:8px;
}

#StartDateDiv
{
	height:2.2em;
}

#FinishDateDiv
{
	height:2.2em;
}

#InnerFilter
{
	float:left;
}

.DateButtons
{
	float: left;
	clear: left;
}

.Clock
{
	float:left;
	margin: 1px 5px 1px 0px;
	padding: 0px 5px 0px 5px;
	/*outline: black solid 1px;*/
}

.ClockOption
{
	margin: 0px;
	padding: 0px;
	height:100%
}

.ClockError
{
	float:left;
	margin-left: 15px;
	padding: 0px 10px 2px 10px;
	outline: Red solid 1px;
}

.minDay
{
	float:left;
}

.plusDay
{
	float:left;
}

.minMonth
{
	float:left;
}

.plusMonth
{
	float:left;
}

.separator
{
	font-size:20px;
	font-weight:900;
}

.SetToday
{
	float:left;
}

#PumpTotalsTable
{
	float:left;
}

#Instructions
{
	margin-bottom:8px;
}

/* these are styles used by the legacy FuelRecon report (EP-1626) */
.PageHeader {border: 1px solid black;  
             width: 100%; 
             font-family: "sans-serif"; 
             font-size: 10pt; 
             font-weight: bold;}



.Section {font-family: "sans-serif"; 
          font-size: 10pt; 
          margin-top: 0.5cm;}

.SectionTitle {font-weight: bold;}
.SectionName {margin-left: 3em;}



.SubSection {font-family: "sans-serif"; 
             font-size: 10pt; 
             margin-top: 0.1cm;}

.SubSectionTitle {font-weight: bold;}
.SubSectionName {margin-left: 3.6em; } /* get sub-name to line up with section-name (for this font) */


/* */
.ResultTable {border-collapse: collapse; 
              border: 1px solid black; 
              margin-top: 0.5cm; 
              font-family: "sans-serif"; font-size: 10pt;
              page-break-before: auto;  /* I thought that this should stop a table being split across a page... but it doesn't seem to... */
              vertical-align: middle;}

.ResultTable TH {border: 1px solid black; 
                 background-color: #C9C9C9;} /* Gray79 from http://www.somacon.com/p142.php */

.ResultTable TD {border: 1px solid black;
                 padding: 2pt 2pt 2pt 5pt;  /* top right bottom left */
                 text-align: right;}

.ResultTable TD.Text {text-align: left;}
.ResultTable TD.Simple {text-align: center;}

.ResultTable TR.TotalLine {border: 1px solid black; font-weight:bold;}

/* used in new tank report */
.TanksReportData {font-family: "courier"; font-size: 12pt; }
.TanksReportTitle {font-size: 12pt; font-weight: bold;}
.SummaryRow {border-left: 1px solid black; border-top: 1px solid black;}
.SummaryRowEndCol {border-right: 1px solid black;}
.SummaryRowLastRow {border-bottom: 1px solid black; }
.dashed {border-bottom:dashed 1px #000000;}
a {text-decoration:none}
.KeySection {font-size: 8pt; }
.SummaryText {font-size: 12pt; }
