/* Common definitions for Enabler webapps */

html 
{
	overflow-y: scroll;
}

body	
{	
	font-family: "Lucida Sans Regular", Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #E7E7E7;
}

#page_container
{
	margin: 0 auto;
	border: solid 1px #A9A9A9;
	background-color: White;
	padding: 1em;
}
tr.RowHeader > td,
tr.RowFooter > td
{
	padding: 10px 20px;
}

tr.RowMain > td
{
	padding: 0 20px;
}
tr.RowFooter > td
{
	border-top: solid 1px #a9a9a9;
	white-space: normal; /* IE8 fix width? */
}

tr.RowContent > td
{
	padding: 10px 0px;
}
/* default reset rules */
/* doing these incrementally to fix side effects */
body, form, h1, h2
{
    padding: 0;
	margin: 0;
}  

h1
{
	border-bottom: solid #D2D2FF;
	font-size: 1.5em;
	font-weight: normal;
}

h2
{
	border-bottom: thin solid #D2D2FF;
	font-size: 1em;
	font-weight: bold;
}

hr
{
	border: 0;
	color: #B4E1F5; /* for ie. */ 
	background-color: #B4E1F5;
}

.inlineError
{
	color: #BB0000;
}

.inlineSuccess
{
    color: Green;
}

.alertMessage
{
	font-weight: bold;
	color: white;
	background-color: #BB0000;
}

.alertMessage a
{
	color: white;
	text-decoration: none;
}

.alertMessage a:hover
{
	text-decoration: underline;
}


.error
{
	color: #BB0000;
	border-style: solid;
	border-width: thin;
	border-color: #FF3C15;
	
}

legend
{
	color: black;
	font-weight: bold;
}

p {
	margin: 0 0 1em 0;
}

/* all tables start with 0 border, cell borders joined */
table
{	
	border: 0;
	border-collapse: collapse;
}

.fieldset
{
    margin: 0.5em 0em;
    border: none;
    background-color: #D4EEF9;
    padding: 0.5em;
}

legend
{
    padding: 0.2em 1em;
    background-color: #B4E1F5;
}

input,
select, 
textarea
{    
	font-family: inherit;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 0;
}

/* styling for buttons */
input.Button, input.button1, input.dpTodayButton, button {
	font-family: inherit;
	font-size: 10pt;
	border: 0px none;
	color: #ffffff;
	background-color: #007DB1;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	margin-left: 2px;
	margin-right: 2px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

input.Button:disabled, input.Button:disabled:hover, input.button1:disabled, button:disabled {
	color: #F5F5F5;
	background-color: #C2C2C2;
}

/* work-around for IE8 that does not understand :disabled */
button[disabled="disabled"] {
	color: #C2C2C2;
	background-color: #44484C;
}

input.Button:focus, input.button1:focus, input.dpTodayButton:focus, button:focus {
    color: #005370;
    background-color: #CEF766;
    outline: 0;
}

input.Button:hover, input.button1:hover, input.dpTodayButton:hover, button:hover:enabled {
    color: #ffffff;
    background-color: #29AAE2;
}

input.Button:active, input.button1:active, input.dpTodayButton:active, button:active:enabled {
    color: #005370;
    background-color: #CEF766;
}



::-ms-browse {
    border: 0px none;
    background: #007DB1;
    color: #ffffff;
    padding: 0.3em 1em;
}

::-ms-browse:hover {
    background-color: #29AAE2;
}

::-webkit-file-upload-button {
    border: 0px none;
    background: #007DB1;
    color: #ffffff;
    padding: 0.3em 1em;
}

::-webkit-file-upload-button:hover {
    background-color: #29AAE2;
}

.dpDIV 
{
	position:absolute;
}


#UserDiv
{
    float:left;
    display: inline;
    clear:left;
}

#LanguageDiv
{
    text-align:right;
    float:right;
    display:inherit;
    clear:right;
}

/* styling for print output */
@page {
	size: auto;
	margin: 5mm 5mm 5mm 5mm;
}

@media print {
	
	body{
		background-color: #ffffff;
		font-family: Book, Helvetica, sans-serif;
		font-size: 6pt;
	}
	#page_container {
		width: 100%;
		border: 0px;
	}
	
	select, input, textarea {
		border:0px;
		color: #000000;
		background-color: transparent;
		font-size: 6pt;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance:none;
	}
	
	select::-ms-expand { /* for IE 11 */
    	display: none;
	}

	div.Date {
		border:0px;
		color: #000000;
		background-color: transparent;
	}

	td.form_col1 {
		font-weight: bold;
	}

	/* site monitor styles */
	fieldset {
		border: 0px;
	}
	legend {
		font-size: 8pt;
	}
	
	/* don't display navigation and footer sections */
	#ActionButtons{
		display: none;
	}
	button {
		display: none;
	}
	tr.RowMenu {
		display: none;
	}
	
	tr.RowFooter{
		display: none;
	}
}
