/* CSS for Site Monitor page */
.Pump
{
	position:relative;
	width:130px;
	margin: 2px;
	padding: 0px;
	float:left;
	border: thick solid #B4E1F5;
}

.SelectedPump
{
	position:relative;
	width:130px;
	margin: 2px;
	padding: 0px;
	float:left;
	border: thick solid #007DB1; 
}

.Actions
{
	text-align:center;
	background-color: white;
	padding-bottom: 6px;
}

.Stack
{
	position:relative;
	clear:both;
	display:block;
	background-color:#F5F5F5;
	color: #003046;
	margin-top:1px;
	margin-bottom:1px;
	margin-right:0px;
	margin-left:0px;
	overflow: auto;
	height: 5.6em;
	white-space: nowrap;
	outline-color: #B4E1F5;
	outline-style: solid;
	outline-width: 2px;
}

.SelectedPump div.Stack
{
	outline-color: #007DB1;
}

.Entry
{
	position:relative;
	border: 1px solid #FFF000;

}

fieldset {
	border: solid 1px #a9a9a9;
	margin-bottom: 1em;
}

.StackTable
{
	width: 100%;
}

.ColEntryVal
{
	width:45%;
	height:1em;
	font-size: small;
	text-align: right;
	vertical-align: baseline;
	overflow: hidden;
}

.ColEntryVol
{
	height:1em;
	font-size: small;
	text-align: right;
	vertical-align: baseline;
	padding-right: 2px;
	overflow: hidden;
}


.Details
{
	position:relative;
	float: left;
	background-color:white;
	color:black;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:2px;
	white-space:nowrap;
	height: 110px;
}


.Number
{
	position: absolute;
	float:left;
	top: 0px;
	left:0px;
	width:55px;
	height:80px;
	font-weight:bold;
	font-size:xx-large;
	color: black;
	padding-top: 0px;
	padding-left:5px;
}

.SelectedPump div.Number
{
	color: #FF3C15;
}

.PumpName
{
	height:20%;
	overflow:hidden;
	font-weight:bold;
	text-align:left;
	padding-top:5px;
	padding-left:15px;
	vertical-align:middle;
	position:relative;
	z-index:5;
}

.InProgress
{
	position:absolute;
	top: 60px;
	color:#003046;
	overflow:hidden;
	padding-left:5px;
	text-align:left;
	font-weight:bold;
	vertical-align:middle;
	white-space:nowrap;
}

.Image
{
	position: absolute;
	top: 0px;
	left: 50px;
}

div.Display img
{
	padding: 0;
	float: left;
	margin: 0px;
	z-index: 1;	
}

.TankGauge
{
	width:200px;
	margin: 5px;
	padding: 3px;
	background-color:#B4E1F5;
	float:left;
}

.TankNumber
{
	font-weight:bold;
	font-size:x-large;
	padding-left:10px;
	color:black;
	float:left;
}

.TankGaugeDetails
{
	text-align:center;
	color:#003046;
	font-weight:bold;
	padding-left:8px;
	padding-bottom:3px;
	background-color:white;
	white-space:nowrap;
}

.Gauge
{
	background-color:white;
	color:black;
	margin-right:auto;
	margin-left:auto;
	height:146px;
}

.Level
{
	font-size:10px;
	width: 28%;
	height: 131px;
	margin-top: 0px;
	text-align: right;
	float: left;
}

.LevelVal4
{
	height:32px;
	padding:0px;
	margin:0px;
}

.LevelVal3,
.LevelVal2,
.LevelVal1
{
	height:33px;
	padding:0px;
	margin:0px;
}

.LevelVal0
{
	height:10px;
	padding:0px;
	margin:0px;
}

.Display
{
	width:68%;
	height: 131px;
	background-color:white;
	float:left;
	margin-top: 8px; /* so it vertically aligns to top level */
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
}

.Volume
{
	padding-top:3px;
	padding-bottom:10px;
	padding-left:42px;
	text-align:center;
	background-color:white;
}

div.Actions a 
{
	font-family: inherit;
	font-size: 10pt;
	border: 0px none;
	color: #ffffff;
	background-color: #007DB1;
	text-decoration: none;
	padding: 0.3em 1em;
	margin-left: 1px;
	margin-right: 1px;
}

.TinyInvisibleButton {
    background-color: white;
    border: none;
    color: white;
    padding: 0px 0x;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 1px;
    margin: 0px 0px;
    cursor: pointer;
}
.ConfirmMessage
{
    margin: 5px;
    font-weight: bold;    
}

