/* Enabler webapps - table based layout */
.form_table td
{
	padding-top: 0.5em;
	vertical-align: top;
}

.form_col1 
{
	padding-right: 1.0em;
	padding-top: 0.2em;
	padding-bottom: 0.2em    
}

.form_input_wide, input#Settings
{
	width: 100%;
	font-size: 10pt;
	border: 1px;
	border-style: solid;
	border-color: #c9c9c9;
	border-width: thin;
}

.form_input_wide_error
{
	width: 100%;
	font-size: 10pt;
	color:#BB0000;
	border: 1px;
	border-style: solid;
	border-color: #FF3C15;
	border-width: thin;
}

select
{
	border: 1px;
	-moz-appearance: none;
	-moz-border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-ms-appearance: none;
	border-style: solid;
	border-color: #c9c9c9;
	background-color: #FFFFFF;
	font-size: 10pt;
	background: #ffffff url(/images/down.png) 100% / 15px 15px no-repeat;
}

select#StartTime_Hour, select#StartTime_Min, select#Time_Hour, select#Time_Min
{
	min-width: 40px;							       
	background: #ffffff url(/images/down.png) 99% / 15px 15px no-repeat;
}

/* set minimum width for number of results dropdown control */
select[name="NumberResults"], select[name="NumberRows"]
{
	min-width: 180px;
}

.gridinpw
{
	width: 100%;	
}

.gridinpw_error
{
	color:red;
	width: 100%;	
}

/* Pumps and Ports page */
.HighlightOption
{
	background-color: #CEF766;
	color:Black;
}

.MPPSimOption
{
	background-color: #CEF766;
	color:Black;
}

.NotInstalledOption
{
	background-color: #C2C2C2;
	color:Black;
}

/* Grade Price Scheduled Page */
.Current
{
	background-color:#D4EEF9;
}

.Past
{
	background-color:#F5F5F5;
}

.Future
{
	background-color:#E7FBB2;
}

/* Fuel Reconciliation Pages */
.OutOfVariance
{
	background-color:#FFB8B8;	/* Light Red or Pink */
}

.PeriodApproved
{
	background-color:#868686;
}



/* class for standard visual gridded table */

.std_table td
{
	padding: 0.3em;
	vertical-align: top;
	border-right: solid 1px white;
	text-align: left;
	white-space: nowrap;
}

.std_table .right
{
	text-align: right;
}

.std_table .left
{
	text-align: left;
}

.std_table .center
{
	text-align: center;
}

.std_table td input
{
	width: 90%; /* 16em; */
}

.std_table td input.ButtonAsLink
{
	width: auto;
}


/* class for header cells */
.std_table th
{
	padding: 0.3em;
	vertical-align: top;
	border-right: solid 1px white;
	border-bottom: solid 1px white;
	background-color: #B4E1F5;
	color: black;
	text-align: left;
	font-weight: bold;
}

.evenRow 
{
	background-color: #F5F5F5;
	color:black;
}

/* grid action links */
.std_table a,
button.ButtonAsLink,
input.ButtonAsLink
{    
	background-color: #007DB1;
	color: White;    
	text-decoration: none;
	padding: 3px 15px 3px 15px;
	margin-left: 2px;
	margin-right: 0px;
}

.std_table .CellAction a:hover
{
	background-color: #29AAE2;
	color: #ffffff;
}

.hoverevenRow 
{
	background-color: #E7FBB2;
	color:black;
}

.oddRow 
{
	background-color: #E7E7E7;
	color:black;
}

.hoveroddRow 
{
	background-color: #E7FBB2;
	color:black;
}

.selectedRow 
{
	background-color: #29AAE2;
	color:white;
}

.hoverselectedRow 
{
	background-color: #E7FBB2;
	color:black;
}

.errorRow 
{
	background-color: #BB0000;
	color:white;
}

#tabheader ul
{
	list-style: none;
	padding: 0;
	margin: 0;
} 


#tabheader li
{
	border: thin black solid;
	border-style: solid solid solid solid;
	background-position: right top;
	float: left;
	margin: 0;
}

#tabheader a
{
	display: block;
	color: black;
	text-decoration: none;
	padding: 0.6em 1em 0.25em;
}


#tabheader .selected {
	font-weight: bold;
}

#tabheader .selected a {
	color: black;
}


#tabheader a:hover {
	color: blue;
}


#tabcontent {
	clear: both;
	padding: 1em;
	height: 400px;

}

button.ButtonAsLink 
{
	border: none;
	cursor: pointer;
	margin-right: 0.1em;
}

button.ButtonAsLink:hover
{
	background-color: #29AAE2;
} 

.std_table a:focus,
input.ButtonAsLink:focus
	color: #005370;
	background-color: #CEF766;
}

.std_table a:focus:hover,
input.ButtonAsLink:focus:hover {
	color: #29AAE2;
	background-color: #ffffff;
}


input.ButtonAsLink 
{
	border: none;
	cursor: pointer;
	margin-right: 0.1em;
}

.std_table .CellAction a:focus {
	color: #005370;
	background-color: #CEF766;
}

.messageKey
{
	color:#990000;
	background-color:#FFFF99;
}

.NORMAL
{
	font-style:normal;
}
.BOLD
{
	font-weight:bold;
}
.ITALIC
{
	font-style:italic;
}
.BOLDITALIC
{
	font-weight:bold;
	font-style:italic;
}

.TitleLabel
{
	font-weight:bold;
	margin-bottom:3px;
}

.timeSelector
{
	margin-top:auto;
	margin-bottom:auto;
	float:left;
	clear:right;
	font-size: 10pt;
}

.dateView
{
	float:left;
}

.Date
{
	padding: 0px;
	cursor:pointer;    
	margin-right:5px;
}

.clockOption
{
	padding: 0px;
	text-align:center;
	font-size:10pt;
}

.separator
{
	font-weight:900;
}


/* the div that holds the date picker calendar */
.dpDiv 
{
	position:absolute;
}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-size: 10pt;
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
td.dpTD {
	border: 1px solid #C2C2C2;
	background-color: #F5F5F5;
	padding: 0.2em;
}

td.dpInvalidTD
{
	background-color: #E7E7E7;
	border: 1px solid #C0C0C0;
	padding: 0.2em;
	color:white;
}

/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
td.dpDayHighlightTD {
	colour: white;
	background-color: #29AAE2;
	padding: 0.2em;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
td.dpTDHover {
	background-color: #E7FBB2;
	border: 1px solid #C0C0C0;
	cursor: pointer;
	color: black;
	padding: 0.2em;
}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	padding: 0.5em;
	margin: 0;
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	padding: 0em;
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	padding: 0.4em;
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #B4E1F5;
	border: 1px solid #C2C2C2;
	color: black;
	width:50px;
	height: 24px;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 10pt;
	color: black;
	font-weight: bold;
	margin-top:6px;
	margin-bottom:3px;
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: white;
	background-color: #29AAE2;
	}


/* the forward/backward buttons at the top */
td.dpButton {
	font-size: 12pt;
	color: black;
	background: #D9D9F3;
	font-weight: normal;
	padding: 0px;
	margin-top:0px;
	margin-bottom:3px;
	width:30px;
	}


/* the "This Month" and "Close" buttons at the bottom */
td.dpTodayButton {
	font-size: 10pt;
	color: black;
	background: #D9D9F3;
	font-weight: normal;
	margin-left: 5px;
	margin-right:5px;
	margin-top:0px;
	margin-bottom:3px;
	}
	
#printView {
	display:none;
}

/* datePicker */
div.Date {  
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 0em 0.3em;
	border: 1px solid #C2C2C2;
}

div.Date:hover {  
	cursor: hand;
}

